<div class="row py-4 gx-0">
  <div class="col-md-9">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img height="400" src="assets/images/photo-1717295248299-74c084c31184.jpeg"
          alt=""></ng-template>
      <ng-template carouselSlide><img height="400" src="assets/images/e75ddbda351d44e24b6b8099fa200aad.jpg"
          alt=""></ng-template>
      <ng-template carouselSlide><img height="400" src="assets/images/screenshot-2023-07-27-at-12-53-18-pm.png"
          alt=""></ng-template>
      <ng-template carouselSlide><img height="400" src="assets/images/6Gq3nS4hf4QC9VJFaXjcAn-1200-80.jpg"
          alt=""></ng-template>
      <ng-template carouselSlide><img height="400" src="assets/images/camera-7566423_640.webp" alt=""></ng-template>
      <ng-template carouselSlide><img height="400" src="assets/images/19_2023-638301566436471734-647.jpeg"
          alt=""></ng-template>
      <ng-template carouselSlide><img height="400" src="assets/images/photo-1523275335684-37898b6baf30.jpeg"
          alt=""></ng-template>
      <ng-template carouselSlide><img height="400" src="assets/images/Screenshot 2024-08-11 223022.png"
          alt=""></ng-template>
    </owl-carousel-o>
  </div>
  <div class="d-none d-lg-block col-md-3">
    <img height="200" src="assets/images/depositphotos_126693854-stock-photo-set-of-body-care-products.jpg" alt="">
    <img height="200" src="assets/images/Screenshot 2024-08-11 222938.png" alt="">
  </div>
</div>