<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-primary bg-primary border-bottom box-shadow mb-3">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#" *ngIf="IsLogin">Talabat</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-light" href="/blank/pages/home" *ngIf="IsLogin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/user/products/list" *ngIf="IsLogin">Proudcts</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" *ngIf="!IsLogin" routerLink='/Auth/Authentication/Login'
              routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink='/Auth/Authentication/Register' routerLinkActive="active"
              *ngIf="!IsLogin">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" style="cursor: pointer;" (click)="OnLogOut()" routerLinkActive="active"
              *ngIf="IsLogin">LogOut</a>
          </li>
          <li class="nav-item parent">
            <a class="nav-link text-light" href="/user/card/loggedCard" *ngIf="IsLogin">
              <i class="fas fa-cart-shopping"></i>
              <span id="child">{{numberOfItems}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>